{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Admin</h1>
  <h2>All Blogs:</h2>
  {% for blog in blogs %}
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="card-title">{{ blog.title }}</h3>
        <p class="card-text">{{ blog.content }}</p>
        <a href="{% url 'update_blog' blog.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_blog' blog.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <hr>
  {% empty %}
    <p>No blogs found.</p>
  {% endfor %}

  <h2>All Comments:</h2>
  {% for comment in comments %}
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">{{ comment.text }}</p>
        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <hr>
  {% empty %}
    <p>No comments found.</p>
  {% endfor %}

  <h2>All Users:</h2>
  {% for user in users %}
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">{{ user.username }}</p>
        <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
    <hr>
  {% empty %}
    <p>No users found.</p>
  {% endfor %}
</div>
{% endblock %}
